<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbyrh.repo.mapper.DeviceMapper" >
  <select id="getDevicesByUid" resultMap="BaseResultMap">
    select device.*
    from device join device_user_ref on device.id = device_user_ref.device_id where device_user_ref.uid = #{uid}
    <if test="deviceName != null">
      and device.device_name like CONCAT('%',#{deviceName},'%')
    </if>
    <if test="deviceType != null">
      and device.device_type = #{deviceType}
    </if>
  </select>

</mapper>